.immybox_downarrow {
  margin-left: -2.25em;
  font-size: 10px;
  color: #bdbdbd;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 2.5em;
  z-index: 10;
  &:hover, &:focus {
    cursor: pointer;
    color: #000;
  }

  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.immybox.immybox_witharrow[type="text"] {
  z-index: 5;
  padding-right: 23px;

  width: 189px;
  &.input-mini       { width: 43px; }
  &.input-small      { width: 73px; }
  &.input-medium     { width: 133px; }
  &.input-large      { width: 193px; }
  &.input-xlarge     { width: 253px; }
  &.input-xxlarge    { width: 513px; }
}

.immybox_results {
  position: absolute;
  overflow: auto;
  max-height: 20em;
  background-color: white;
  border: 1px solid #ccc;

  p.immybox_moreinfo, p.immybox_noresults {
    color: #ccc;
    font-style: italic;
    padding: 0 1em;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0.25em 1em;

      -o-user-select:none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      &.immybox_choice {
        cursor: pointer;

        &.active {
          background-color: #f1f1f1;
        }

        .highlight {
          text-decoration: underline;
        }
      }
    }
  }
}