ul.immybox_results {
  position: absolute;
  overflow: auto;
  max-height: 20em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #ccc;

  li.choice {
    cursor: pointer;

    &.active {
      background-color: #f1f1f1;
    }
  }

  li.moreinfo, li.noresults {
    color: #ccc;
    font-style: italic;
  }
}